
.UserCard{
    background-color: rgb(35, 30, 38);
    background-image: url('../../assets/userCardBg.png');
    background-size: cover;
    border-radius: .5rem;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.UserCard_box_img{
    border-radius: 50%;
}

.UserCard_box_info{
    list-style: .6;
}

.UserCard_box_info button{
    background-color: rgba(25, 2, 39, 0.918);
    color: #ffffff;
    width: 50%;
    padding: 1rem;
    border: 1px solid rgba(255, 166, 0, 0.33);
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
}

.number{
    position: absolute;
    right: 1rem;
    padding: .8rem 1.1rem;
    border-radius: 50%;
    border: 1px solid rgba(255, 166, 0, 0.33);
    background-color:#471b3f;
    top: 1rem; 
}